@import "~/src/styles/index.scss";

.textError {
    @include textTiny;
    @include text;
    color: $pink-pig;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    display: inline-block;
}

.resetMargin {
    margin: 0;
}
