@import "~/src/styles/index.scss";

.wrapper {
    position: fixed;
    bottom: 0;
    left: 312px;
    right: 0;
    margin: 0 auto;
    max-width: 908px;
    width: 100%;
    padding: 0 36px 36px 44px;
    background-color: white;
    border-radius: 0 0 18px 18px;
    display: grid;
    row-gap: 20px;
}

.buttonSubmit {
    border-radius: 2px;
    padding: 8px 24px;
}
