.secondLevelMenu {
  display: grid;
  row-gap: 12px;
  margin-top: 16px;
  max-width: 100%;
}

.secondLevelLink {
  position: relative;
  padding-left: 28px;
  display: inline-block;
  padding-left: 64px;

  &__arrow {
    position: absolute;
    top: 4px;
    left: 46px;
    border-left: 8px solid #9ca2bd;
    border-bottom: 5.5px solid transparent;
    border-top: 5.5px solid transparent;
    transition: transform 0.3s;

    &_opened {
      transform: rotate(90deg);
    }
  }
}
