@mixin text {
    font-family: "Open Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
}

@mixin textSmall {
    font-size: 16px;
    line-height: 24px;
}

@mixin textTiny {
    font-size: 14px;
    line-height: 21px;
}
