.inner {
    position: relative;
    display: flex;
    overflow: hidden;

    .image {
        border-radius: 44px;
        object-fit: cover;
    }

    .description {
        display: flex;
        gap: 20px;
        position: absolute;
        top: 28px;
        left: 28px;
    }
}
