.inner {
    position: relative;
    display: flex;
    overflow: hidden;
    height: 100%;
    width: 100%;
    opacity: 0;

    &_visible {
        opacity: 1;
        transition: opacity 1s;
    }
}

.description {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 28px;
    left: 28px;
}
