.inner {
    position: relative;
    display: flex;
    overflow: hidden;
    height: 100%;
    width: 100%;

    .description {
        display: flex;
        gap: 20px;
        position: absolute;
        top: 28px;
        left: 28px;
    }
}
