@import "~/src/shared/styles/index.scss";

.label {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: text;
    max-width: 296px;

    &:last-of-type {
        margin-bottom: 2px;
    }
}

.text {
    @include text;
    @include textSmall;

    position: relative;
    color: $black;
}

.textLabel {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.warningText {
    color: $pink-pig;
}

.warningIcon {
    @include background;

    width: 24px;
    height: 24px;
    background-image: url("~/public/warning.svg");
    margin-right: 8px;
}
