@import "~/src/styles/index";

.label {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: text;
    max-width: 296px;
    height: 80px;
    justify-content: space-between;

    &:last-of-type {
        margin-bottom: 2px;
    }
}

.textLabel {
    @include font-source-sans(16px, $black, 400, 24px, var(--font-open-sans));
    display: flex;
    align-items: center;
    transition: 0.1s ease-out;
    padding-left: 16px;
}

.warningText {
    color: $pink-pig;
    left: 36px;
}

.inputAuth::placeholder {
    opacity: 1;
    transition: opacity 0.1s ease;
}

.inputAuth:focus::placeholder {
    opacity: 0;
    transition: opacity 0.2s ease;
}

