.inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 140px;
}

.title {
    padding-left: 28px;
}

.steps {
    display: flex;
    justify-content: space-between;
    row-gap: 32px;
    flex-wrap: wrap;
}
