@import "../../../../styles/variables";

.input {
    width: 296px;
    height: 48px;
    padding: 0 16px;
    background: transparent;
    border: 1px solid $disabled-color;
    border-radius: $border-radius-s;
    font-size: inherit;
    line-height: inherit;
}

.error {
    border-color: $error-accent-color;
}

.message {
    margin-top: $gap-xs;
    color: $error-accent-color;
    font-size: 12px;
    line-height: 140%;
    text-align: start;
}
