@import "../../../../styles/variables";
@import "~/src/styles/index";

.input {
    width: 296px;
    height: 48px;
    padding: 0 16px;
    background: transparent;
    border: 1px solid $disabled-color;
    border-radius: $border-radius-s;
    font-size: inherit;
    line-height: inherit;
}

.error {
    border-color: $error-accent-color;
}

.message {
    margin-top: $gap-xs;
    text-align: start;
    @include font-source-sans(16px, $error-accent-color, 400, 24px, var(--font-open-sans));
}

