@import "../../../../styles/variables";
@import "~/src/styles/index";

.inner {
    position: relative;
    display: flex;

    .image {
        border-radius: 44px;
        object-fit: cover;
    }

    .description {
        display: flex;
        gap: 20px;
        position: absolute;
        top: 28px;
        left: 28px;

        .object,
        .price {
            @include font-source-sans(12px, $black, 400, 16px, var(--font-open-sans));
            padding: 10px 20px;
            background-color: $bg-accent-color;
            border-radius: 30px;
        }
    }
}

