.card {
    max-width: 908px;
    width: 100%;
    padding: 24px 64px 36px 44px;
    border-radius: 18px;
    box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.09);
    display: grid;
    row-gap: 28px;
}

.wrapperText {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    align-items: center;
    column-gap: 40px;
    border-bottom: 2px solid #fccf55;
    padding-bottom: 20px;
    justify-content: space-between;
}

.header {
    @include font-source-sans(16px, $graphite-black, 600, 150%);

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.text {
    @include font-source-sans(14px, $graphite-black, 400, 21px);

    display: inline-block;
}

.textBold {
    font-weight: 600;
}
