.container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.buttonShowPassword {
  @include reset-button;

  position: absolute;
  right: 16px;
  top: 42px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: white;
  background-position: center;
}

.backgroundGray {
  background-color: #f8fafc;
}

.icon {
  margin: auto;
}
