.container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.buttonShowPassword {
  position: absolute;
  right: 16px;
  top: 42px;
  width: 28px;
  height: 28px;
  padding: 0;
  background-color: inherit;
  background-position: center;
}

.icon {
  width: 28px;
  height: 28px;
}
