.title {
   font-size: 30px;
   font-weight: 400;
   line-height: 130%;
   text-indent: 28px;
   margin-bottom: 40px;
}

.examples {
   height: 562px;
   background-color: #FCCF55;
   margin-bottom: 140px;
}