.wrapper {
    display: grid;
    grid-template-columns: auto 256px minmax(480px, 964px) auto;
    grid-template-areas:
        ". header header ."
        ". sidebar main .";
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: main;
}
