.inner {
   margin-bottom: 140px;
}

.title {
   font-weight: 400;
   font-size: 30px;
   line-height: 130%;
   text-indent: 28px;
   margin-bottom: 40px;
}

.block {
   display: flex;
   justify-content: space-between;
}

.cards {
   display: flex;
   flex-wrap: wrap;
   gap: 28px;
   width: 796px;
}

.image {
   width: 388px;
   height: 546px;
   background: url('../../../assets/images/home/behefits-image.svg');
   border-radius: 44px;
}