@import "~/src/styles/index";

.inner {
    padding-top: 140px;
}

.title {
    @include font-source-sans(30px, $black, 400, 39px, var(--font-raleway));
    padding-left: 28px;
    padding-bottom: 40px;
}

.block {
    display: flex;
    justify-content: space-between;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    max-width: 804px;
}

.image {
    height: auto;
}

