.inner {
   margin-bottom: 140px;
}

.title {
   padding-left: 28px;
   padding-bottom: 40px;
}

.block {
   display: flex;
   justify-content: space-between;
}

.cards {
   display: flex;
   flex-wrap: wrap;
   gap: 28px;
   max-width: 804px;
}

.image {
   height: auto;
}