@import "~/src/styles/variables";

.inputsRegistration {
  display: grid;
  grid-template-columns: repeat(3, minmax(296px, 1fr));
  gap: 28px;
  margin-bottom: 44px;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}

.buttonsSection {
  display: flex;
  gap: 20px;
  margin-bottom: 64px;
}

.marginButton {
  margin-bottom: 64px;
}

.wrapperCheckbox {
  gap: 44px;
  display: flex;
  align-items: center;
  margin-bottom: 64px;
}

.title {
  @include font-source-sans(16px, $graphite-black, 600, 160%);
}

.list {
  display: flex;
  column-gap: 28px;
}

.checkbox {
  column-gap: 8px;
}

.row {
  display: flex;
  flex-direction: row;
  column-gap: 80px;
}

.text {
  @include font-source-sans(16px, $graphite-black, 400, 150%);
}

.firstCol {
  grid-column: 1;
}
