.form {
  width: 100%;
}

.marginButton {
  margin-bottom: 64px;
}

.title {
  @include font-source-sans(16px, $graphite-black, 600, 160%);
}

.text {
  @include font-source-sans(16px, $graphite-black, 400, 150%);
}

.wrapperField {
  max-width: "296px";
  width: 100%;
}

.textSuccess {
  color: $success-accent-color;
  margin: 0;
  &::before {
    content: "\2022";
    margin-right: 10px;
  }
}
