.card {
    min-height: 360px;
    width: 596px;
}

.img {
    height: 260px;
    margin-bottom: var(--gap-s);
    border-radius: var(--border-radius-m);
    position: relative;
}

.text {
    margin-left: var(--gap-default);

    .p {
        margin-top: var(--gap-xs);
    }
}

.num {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: var(--bg-accent-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
