@import "~/src/styles/index.scss";

.text {
    @include textSmall;
    @include text;
    color: $black;
    cursor: text;
    display: flex;
    align-items: center;
}

.warningText {
    color: $pink-pig;
}
