.numberItem {
  border: none;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: $almond;
  color: inherit;
  @include subtitle1;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}
