.wrapperTitle {
  display: flex;
  align-items: center;
}

.statusIcon {
  display: block;
  width: 21px;
  height: 21px;
  background-color: #7f3e3b;
  border-radius: 50%;
  margin-right: 24px;
}

.backgroundBrown {
  background-color: #7f3e3b;
}

.backgroundGreen {
  background-color: #2fef4e;
}

.backgroundPink {
  background-color: #ef2f80;
}

.wrapperOffer {
  display: grid;
  row-gap: 16px;
  width: 100%;
}

.colorGreen {
  color: #7cc19e;
}

.colorYellow {
  color: #fccf55;
}

.colorPink {
  color: #ff6894;
}

.wrapperMenu {
  display: flex;
  column-gap: 8px;
}

.menuCard {
  cursor: pointer;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots {
  border-radius: 50%;
  display: block;
  width: 4px;
  height: 4px;
  background-color: #000000;

  &::after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    background-color: #000000;
    border-radius: 50%;
    transform: translateY(4px);
  }

  &::before {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    background-color: #000000;
    border-radius: 50%;
    transform: translateY(-8px);
  }
}

.marginCenter {
  margin: 0 auto;
}

.wrapperButton {
  display: flex;
  column-gap: 28px;
}
