.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 0.5s;

  &_visible {
    opacity: 1;
  }

  &__btn {
    max-width: 32px;
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: center;
  }
}
