@import "../../../styles/variables";
@import "~/src/styles/index";

.title {
    padding-top: 140px;
    padding-bottom: 8px;
    @include font-source-sans(52px, $black, 400, 130%, var(--font-raleway));
}

.description {
    padding-bottom: 36px;
    @include font-source-sans(20px, $black, 400, 30px, var(--font-open-sans));
}

