@import "../../../styles/variables";

.banner {
    height: 554px;
    margin: 0 auto 140px;
    background: url("../../../../public/home/home-banner.jpg") 80% 100% / cover no-repeat;
}

.title {
    font-size: 52px;
    line-height: 130%;
    font-weight: 400;
    padding-top: 140px;
    padding-bottom: 8px;
}

.description {
    font-size: 20px;
    line-height: 150%;
    padding-bottom: 36px;
}
