.thirdLevelMenu {
  // margin-top: 12px;
  list-style: none;
  padding-left: 0;
}

.thirdLevelItem {
  border-radius: 0px 8px 8px 0px;
  border-left: 4px solid transparent;
  box-sizing: border-box;
}

.thirdLevelLink {
  width: 100%;
  position: relative;
  display: inline-block;
  padding: 8px 0 8px 68px;
  border-radius: 0px 8px 8px 0px;
  border-left: 4px solid transparent;

  &__name {
    max-width: 18ch;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &_bullet {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $menu-item-bullet-color;
    top: calc(50% - 4px);
    left: calc(100% + 8px);
  }
}

.activatedSubmenu {
  background-color: #fffaee;
  border-left: 4px solid $mustard;
}
