.window {
    height: 758px;
    width: 804px;
    border-radius: 20px;
    background-color: #ffffff;
    position: relative;
    box-shadow: 1px 1px 15px #00000020;
}

.illustration1 {
    position: absolute;
    left: 416px;
    top: 106px;
}
.illustration2 {
    position: absolute;
    left: 76px;
    top: 550px;
}
