@mixin background {
    background-position: center;
    background-repeat: no-repeat;
}

@mixin beforeOrAfter {
    content: "";
    position: absolute;
}

@mixin reset-button {
    border: none;
    cursor: pointer;
}

@mixin headline {
    // font-family: var(--font-open-sans);
    font-family: "Raleway", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: $black;
}

@mixin headline2 {
    font-size: 30px;
    line-height: 130%;
}

@mixin text {
    // font-family: var(--font-raleway);
    font-family: "Open Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
}

@mixin textSmall {
    font-size: 16px;
    line-height: 24px;
}

@mixin textTiny {
    font-size: 14px;
    line-height: 21px;
}

@mixin font-source-sans($size: false, $colour: false, $weight: false, $lh: false, $ff: false) {
    font-family: var(--font-open-sans);
    @if $size {
        font-size: $size;
    }

    @if $colour {
        color: $colour;
    }

    @if $weight {
        font-weight: $weight;
    }

    @if $lh {
        line-height: $lh;
    }

    @if $ff {
        font-family: $ff, sans-serif;
    }
}
