@import "~/src/styles/index.scss";

.container {
    position: relative;
}

.buttonShowPassword {
    @include reset-button;

    position: absolute;
    right: 16px;
    top: 8px;
    background-color: $white;
    width: 28px;
    height: 28px;
    padding: 0;
    background-color: inherit;
}
