.dialog {
    position: relative;
    padding: 0px 66px 0 44px;
    border-radius: 18px;
    background: var(--white, #fff);
    box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.09);
    max-width: 908px;
    width: 100%;
    margin-left: auto;
    min-height: calc(100vh - 96px);
}

.wrapperHead {
    position: fixed;
    width: 100%;
    max-width: 908px;
    background-color: white;
    padding: 24px 64px 0 44px;
    top: 80px;
    left: 312px;
    right: 0;
    margin: 0 auto;
    border-radius: 18px 18px 0 0;
    height: 150px;
}

.line {
    padding-bottom: 24px;
    border-bottom: 2px solid #fccf55;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.infoPerformer {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.userIcon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #7cc19e;
}

.fontWeight {
    font-weight: 700;
}

.infoOrder {
    display: flex;
    column-gap: 16px;
}

.textButton {
    @include font-source-sans(16px, $graphite-black, 400, 24px);
}

.wrapper {
    display: grid;
    row-gap: 28px;
    margin-top: 152px;
}

.chat {
    display: grid;
    column-gap: 16px;
    align-items: center;
    grid-auto-flow: column;
}

.positionLeft {
    justify-content: start;
}

.userAvatarMessage {
    width: 40px;
    height: 40px;
    margin-top: auto;
}

.messageExecutor {
    padding: 16px 166px 16px 16px;
    background: #f5f3f1;
}

.wrapperMessage {
    display: grid;
    row-gap: 8px;
    border-radius: 7px;
}

.widthText {
    max-width: 510px;
}

.gallery {
    display: flex;
    column-gap: 20px;
}

.item {
    width: 80px;
    height: 80px;
    background-color: #d9d9d9;
}

.timeText {
    @include font-source-sans(12px, #7c7c7c, 600, 18px);
}

.positionRight {
    justify-content: end;
}

.messageClient {
    padding: 16px;
    background: #fffaee;
}

.wrapperForm {
    position: fixed;
    bottom: 0;
    left: 312px;
    right: 0;
    margin: 0 auto;
    max-width: 908px;
    width: 100%;
    padding: 0 36px 36px 44px;
    background-color: white;
    border-radius: 0 0 18px 18px;
    display: grid;
    row-gap: 20px;
}
