.dialog {
    position: relative;
    padding: 0px 66px 0 44px;
    border-radius: 18px;
    background: var(--white, #fff);
    box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.09);
    max-width: 908px;
    width: 100%;
    margin-left: auto;
    min-height: calc(100vh - 96px);
}

.textButton {
    @include font-source-sans(16px, $graphite-black, 400, 24px);
}

.wrapperForm {
    position: fixed;
    bottom: 0;
    left: 312px;
    right: 0;
    margin: 0 auto;
    max-width: 908px;
    width: 100%;
    padding: 0 36px 36px 44px;
    background-color: white;
    border-radius: 0 0 18px 18px;
    display: grid;
    row-gap: 20px;
}

.textarea {
    max-height: 82px;
}
