@import "../../../../styles/variables";

.card {
    width: 384px;
    height: 260px;
    padding: 20px 28px 28px;
    border-radius: 44px;
}

.inner {
    position: relative;
}

.title {
    font-size: 20px;
    line-height: 160%;
    margin-top: 14px;
    margin-bottom: 94px;
}

.img {
    position: absolute;
    top: 0;
    right: 0;
}

.bgScramble {
    background-color: $bg-secondary-color;
}

.bgSand {
    background-color: $bg-accent-color;
}

.bgLatte {
    background-color: $latte-color;
}

.bgLightLatte {
    background-color: $light-latte-color;
}
