.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 388px;
    height: 90px;
    background-color: $accent-color;
    border-radius: 40px;
    padding: 0 28px;

    &:disabled {
        background-color: $disabled-color;
        pointer-events: none;
    }

    &_true {
        background-color: $disabled-color;
        pointer-events: none;
    }

    &:hover {
        border: 0;
        background-color: $btn-hover-color;
        outline: none;
    }
}

.sliderHide {
    display: none;
}

.disabled {
    background-color: $disabled-color;
    pointer-events: none;
}
