.inner {
    width: 100%;
}

.title {
    padding-left: 28px;
    padding-bottom: 40px;
}

.examples {
    min-width: 768px;
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-areas:
        "small1 small2 aside"
        "big big aside";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 208px 326px;
    gap: 28px;

    &_item {
        height: 100%;
        position: relative;
        padding: 0;
        opacity: 1;

        &:first-of-type {
            grid-area: aside;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 28px;
        }

        &:nth-of-type(2) {
            grid-area: small1;
        }

        &:nth-of-type(3) {
            grid-area: small2;
        }

        &:nth-of-type(4) {
            grid-area: big;
        }
    }
}

.button {
    outline: none;
    border: none;
    background: none;
}

.button:hover {
    opacity: 0.7;
    transition: opacity ease-in-out 0.2s;
    cursor: pointer;
}
