.box {
    width: var(--container-width);
    max-width: 100%;
    margin: auto;
    padding: 0 var(--gap-xxl);
}

.banner {
    height: 554px;
    padding-top: var(--gap-xxxl);
    background: url("../assets/images/home-banner.jpg") bottom no-repeat;
    background-size: cover;
}

.p {
    margin: var(--gap-xs) 0 var(--gap-m);
    font-size: 20px;
}
