.overlay {
  inset: 0;
  animation: show 150ms ease-in;
  z-index: 100;
  backdrop-filter: blur(5px);
  position: fixed;
  display: grid;
  place-items: center;
  overflow-y: auto;
}

.overlayDark {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: none;
}

.overlayNone {
  backdrop-filter: none;
}

.modal {
  position: relative;
  display: flex;
  justify-content: center;

  width: 100%;
  max-width: 864px;
  padding: 30px;
  border-radius: 4px;
  animation: show 150ms ease-in;

  @media screen and (max-width: 1024px) {
    padding: 16px;
  }
}

.getContact {
  max-width: 1220px;
}

.closeModal {
  @include reset-button;

  position: absolute;
  top: 0px;
  right: 0px;
  width: 24px;
  height: 24px;
  background-color: inherit;
  border: 1px solid $graphite-black;
  color: inherit;
  border-radius: 50%;

  &::before {
    content: "";
    position: absolute;
    top: 22%;
    left: 50%;
    width: 0.8px;
    height: 14px;
    background-color: $graphite-black;
    transform: rotateZ(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    top: 22%;
    left: 50%;
    width: 0.8px;
    height: 14px;
    background-color: $graphite-black;
    transform: rotateZ(-45deg);
  }

  @media screen and (max-width: 1024px) {
    top: -24px;
    right: 16px;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
