@import "../../../../styles/variables";
@import "~/src/styles/index";

.card {
    min-height: 360px;
    width: 596px;
}

.img {
    height: 260px;
    margin-bottom: $gap-s;
    border-radius: $border-radius-m;
    position: relative;
}

.title {
    @include font-source-sans(18px, $black, 600, 24px, var(--font-open-sans));
}

.text {
    margin-left: $gap-default;

    .p {
        margin-top: $gap-xs;
        @include font-source-sans(16px, $black, 400, 24px, var(--font-open-sans));
    }
}

.num {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: $bg-accent-color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include font-source-sans(16px, $black, 400, 24px, var(--font-open-sans));
}

