@import "../../../../styles/variables";

.card {
    min-height: 360px;
    width: 596px;
}

.img {
    height: 260px;
    margin-bottom: $gap-s;
    border-radius: $border-radius-m;
    position: relative;
}

.text {
    margin-left: $gap-default;

    .p {
        margin-top: $gap-xs;
    }
}

.num {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: $bg-accent-color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
