@import "../../../styles/variables";

// .title {
//     font-size: 52px;
//     line-height: 130%;
//     font-weight: 400;
//     padding-top: 140px;
//     padding-bottom: 8px;
// }

.description {
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 40px;
}
