@import "../../styles/variables";
@import "~/src/styles/index";

.header {
    padding: $gap-default 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    background: $bg-main-color;
}

.list {
    display: flex;
    max-width: 1220px;
    margin: 0 auto;
    justify-content: space-between;
    gap: $gap-l;
}

.logo {
    @include font-source-sans(20px, $black, 600, 32px, var(--font-open-sans));
    cursor: pointer;
}

.link {
    @include font-source-sans(16px, $black, 400, 160%, var(--font-open-sans));
    cursor: pointer;
    user-select: none;

    &:last-child {
        margin-left: auto;
    }
    &:hover {
        text-decoration: underline;
    }
    &:active {
        text-decoration: underline;
        text-decoration-color: $accent-color;
    }
}

.active {
    @include font-source-sans(16px, $black, 400, 25px, var(--font-open-sans));
    text-decoration: underline;
    text-decoration-color: $accent-color;
}

