.header {
    display: flex;
    align-items: center;
    gap: 50px;
    height: 100px;
    border-bottom: 1px solid #ffffff;
}

.link {
    font-size: 16px;
    transition: font-size 0.2s ease-in;
}

.link:hover {
    text-decoration: underline;
}

.active {
    font-size: 24px;
}
