@import "../../styles/variables";

.header {
    padding: $gap-default 0;

    .header__content {
        width: $container-width;
        max-width: 100%;
        margin: auto;
        display: flex;
        gap: $gap-l;
        padding: 0 $gap-xxl;

        .nav {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: auto 0;

            .list {
                display: flex;
                gap: $gap-l;
            }

            .link {
                &:hover {
                    text-decoration: underline;
                }
                &:active {
                    text-decoration: underline;
                    text-decoration-color: $accent-color;
                }
            }
        }
    }
}
