.inner {
   width: 1220px;
   height: 376px;
   background: url('../../../assets/images/home/order-image.jpg') center / cover no-repeat;
   border-radius: 44px;
   margin-bottom: 140px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.paragraph {
   font-size: 24px;
   line-height: 160%;
   width: 342px;
   margin-bottom: 36px;
   text-align: center;
}