@import "~/src/styles/index";

.inner {
    width: 1220px;
    height: 376px;
    background: url("../../../../public/home/order-image.jpg") center / cover no-repeat;
    border-radius: 44px;
    margin-top: 140px;
    margin-bottom: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paragraph {
    @include font-source-sans(24px, $black, 400, 160%, var(--font-open-sans));
    width: 342px;
    margin-bottom: 36px;
    text-align: center;
}

