.wrapperForm {
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.09);
  background-color: $white;
  border-radius: 18px;
  padding-right: 24px;
  column-gap: 24px;
}
