.wrapper {
    padding: 24px 40px;
    border-radius: 18px;
    box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.09);
    width: 100%;
}

.wrapperText {
    border-bottom: 2.5px solid #fccf55;
    margin-bottom: 20px;
    padding-bottom: 8px;
}

.header {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
