.container {
  padding: 24px 40px;
  border-radius: 18px;
  box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.09);
  width: 100%;
}

.containerText {
  border-bottom: 2.5px solid #fccf55;
  margin-bottom: 24px;
  padding-bottom: 8px;
}

.containerForm {
  box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.09);
  background-color: $white;
  border-radius: 18px;
  padding-right: 24px;
  column-gap: 24px;
}

.content {
  display: flex;
  align-items: center;
}

.textarea {
  margin-right: 24px;
}

.icon {
  margin-right: 16px;
}

.disabled path {
  stroke: #bcbcbc;
}

.header {
  @include font-source-sans(16px, $graphite-black, 600, 150%);

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.textarea {
  max-height: 82px;
}

.errorMessage {
  width: 100%;
  word-break: break-word;
  display: inline-block;
  margin: 16px 24px;
  color: $error-accent-color;
}
