@import "../../styles/variables";
@import "~/src/styles/index";

.footer {
    background-color: $bg-secondary-color;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1440px;
    height: 336px;
    padding: 44px 110px;
}

.left {
    display: flex;
    flex-direction: column;
}

.logo {
    @include font-source-sans(20px, $black, 600, 32px, var(--font-open-sans));
    margin-bottom: 20px;
}

.text {
    @include font-source-sans(16px, $black, 400, 24px, var(--font-open-sans));
    width: 274px;
    margin-bottom: 40px;
}

.icon {
    margin-bottom: 20px;
}

.right {
    display: flex;
    gap: 60px;
}

.list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 8px;
}

.link:first-child {
    margin-bottom: 20px;
}

.link {
    @include font-source-sans(16px, $black, 400, 160%, var(--font-open-sans));
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.copy {
    @include font-source-sans(16px, $black, 400, 24px, var(--font-open-sans));
}

