@import "../../../styles/variables";

.ordersmain {
    display: grid;
    row-gap: 16px;
}

.order {
    display: flex;
    max-width: 908px;
    width: 100%;
    height: auto;
    padding: 24px 0px 36px 44px;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 28px;
    border-radius: 18px;
    background: var(--white, #fff);
    box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.09);
}

.head {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    max-width: 800px;
    width: 100%;
    justify-content: space-between;
    border-bottom: 2px solid #fccf55;
    padding-bottom: 20px;
}

.message {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    font-size: 14px;
    line-height: 150%;
}

.workerlimit {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 20px;
    font-size: 16px;
}

.workerlimit:last-child {
    font-size: 14px;
}

.list {
    display: flex;
    font-size: 14px;
    line-height: 150%;
    max-width: 332px;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.params {
    display: flex;
    width: 420px;
}

.gallery {
    width: 80px;
    height: 80px;
    display: flex;
    background: #d9d9d9;
    justify-content: flex-end;
    align-items: center;
}

.worker {
    display: flex;
    justify-content: space-between;
}

.orderinfo {
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    overflow: hidden;
    align-items: flex-end;
}

.orderinfo:nth-child(2) {
    align-items: center;
}

.text {
    font-weight: 600;
    cursor: pointer;
    max-width: 245px;
}
