.menu {
  background-color: $white;
}

.navigation {
  border-right: 2px solid #eae5e1;
  padding-right: 16px;
  position: fixed;
  max-width: 256px;
  box-sizing: border-box;
  width: 100%;
  overflow: auto;
  max-height: 100%;
}
