@import "../../../styles/variables";
@import "~/src/styles/index";

.inner {
    display: flex;
    padding: 72px 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: $bg-secondary-color;
    border-radius: $border-radius-m;
}

.description {
    max-width: 680px;
    margin: 0 auto;
    @include font-source-sans(16px, $black, 400, 24px, var(--font-open-sans));
}

.inputs {
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 36px;
    margin-bottom: 20px;
    color: $disabled-color;
}

