.wrapperHead {
  position: fixed;
  width: 100%;
  max-width: 908px;
  background-color: white;
  padding: 24px 64px 0 44px;
  top: 80px;
  left: 312px;
  right: 0;
  margin: 0 auto;
  border-radius: 18px 18px 0 0;
}

.line {
  display: grid;
  padding-bottom: 24px;
  border-bottom: 2px solid #fccf55;
  row-gap: 20px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoPerformer {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.userIcon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #7cc19e;
}

.fontWeight {
  font-weight: 700;
}

.infoOrder {
  display: flex;
  column-gap: 16px;
}

.wrapperSelectedPerformer {
  padding: 10px 20px;
  border-radius: 7px;
  background: var(--Sand, #fff2cc);
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.itemSelectedPerformer {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.button {
  margin-right: auto;
}
