@import "~/src/styles/index";

.window {
    width: 804px;
    border-radius: 20px;
    background-color: $white;
    position: relative;
    box-shadow: 1px 1px 15px #00000020;
    box-sizing: border-box;
    min-height: 720px;
    max-height: 100vh;
}

.backgroundSignIn {
    @include background;
    position: absolute;
    top: 34px;
    left: 76px;
}

.backgroundResetPassword {
    position: absolute;
    top: 73px;
    left: 76px;
}

.form {
    position: relative;
    overflow-y: scroll;
    max-height: 436px;
}

.inputsRegistration {
    display: grid;
    grid-template-columns: [startline] repeat(2, minmax(min-content, 296px)) [endline];
    column-gap: 44px;
    row-gap: 29px;
    margin-bottom: 28px;
}

.inputsResetPassword {
    display: grid;
    row-gap: 20px;
    margin-bottom: 28px;
}

.inputsSignin {
    display: grid;
    row-gap: 20px;
    margin-bottom: 4px;
}

.text {
    @include font-source-sans(16px, $black, 400, 24px, var(--font-open-sans));
    position: relative;
}

.listButtons {
    list-style: none;
    display: flex;
}

.containerButtons {
    justify-content: space-between;
    border-radius: 18px 18px 0 0;
    background-color: $almond;
}

.itemLink {
    width: 100%;
}

.itemButtons {
    margin-right: 28px;

    &:last-of-type {
        margin-right: 0;
    }
}

.buttonLink {
    @include reset-button;
    height: 72px;
    width: 100%;
    background-color: $almond;
    border-radius: 18px 18px 0 0;
}

.activeButtonText {
    position: relative;
    display: inline-block;

    &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $mustard;
    }
}

.activeNav {
    background-color: $white;
    box-shadow: 0px -8px 10px -6px rgba(0, 0, 0, 0.09);
}

.content {
    padding: 50px 0 50px 75px;
    position: relative;
    z-index: 1;
}

.title {
    position: relative;
    margin-bottom: 36px;
    max-width: 458px;
}

.titleSubtext {
    @include font-source-sans(30px, $black, 400, 39px, var(--font-raleway));
    margin-bottom: 10px;
}

.signinTitleSubtext {
    @include font-source-sans(30px, $black, 400, 39px, var(--font-raleway));
    margin-bottom: 36px;
}

.label {
    display: flex;
    flex-direction: column;
    cursor: text;
    max-width: 296px;
}

.resetPasswordLabel {
    grid-column: startline/endline;

    &:last-of-type {
        margin-bottom: 36px;
    }
}

.button {
    @include reset-button;
    @include font-source-sans(16px, $black, 400, 24px, var(--font-open-sans));
    border-radius: 10px;
    background-color: $mustard;
    padding: 12px 40px;
}

.positionCenter {
    display: block;
    margin: 0 auto;
}

.buttonWhite {
    border-radius: 10px;
    border: 1px solid $mustard;
    background-color: $white;
}

.subtext {
    @include font-source-sans(16px, $black, 400, 24px, var(--font-open-sans));
    max-width: 458px;
    margin-bottom: 28px;
}

.textField {
    max-width: 296px;
    border-radius: 10px;
    border: 1px solid $light-gray;
    padding: 12px 16px;

    &::placeholder {
        @include text;
        @include textSmall;

        color: $asphalt;
    }
}

.errorsText {
    grid-column: startline/endline;
    padding: 0 20px;
    list-style: none;
    display: grid;
    row-gap: 28px;
    margin-bottom: 28px;
    @include font-source-sans(16px, $black, 400, 24px, var(--font-open-sans));
}

.textError {
    &::before {
        content: "\2022";
        margin-right: 10px;
    }
}

.warningText {
    color: $pink-pig;
}

.checkboxLabel {
    display: flex;
    align-items: center;
    grid-column: startline/endline;
    margin: 28px 0 36px 0;
    cursor: pointer;
}

.textCheckbox {
    @include font-source-sans(16px, $black, 400, 24px, var(--font-open-sans));
    user-select: none;
}

.linkText {
    @include reset-button;
    @include font-source-sans(16px, $black, 400, 21px, var(--font-open-sans));
    background-color: inherit;
    cursor: pointer;
    margin: 4px 0 46px;
    color: $black;
    display: flex;
    padding-left: 16px;
}

.illustration {
    position: absolute;
    top: 96px;
    right: 32px;
}

.buttonCenter {
    @include font-source-sans(16px, $black, 400, 24px, var(--font-open-sans));
    display: block;
    margin-left: 207px;
}

.form::-webkit-scrollbar {
    width: 10px;
}

.form::-webkit-scrollbar-track {
    background: transparent;
}

.form::-webkit-scrollbar-thumb {
    background-color: $gray;
    border-radius: 20px;
}

