.firstLevelMenu {
  display: grid;
  row-gap: 24px;
  margin-bottom: 80px;
}

.firstLevelLink {
  display: flex;
  align-items: center;
  padding-left: 20px;
  box-sizing: border-box;
  border-left: 4px solid transparent;
}

.activatedMenu {
  border-left: 4px solid $mustard;
}
